extends layout

block content
  h1= title
  p Witaj Marcin!
  p Czujnik Nr1 :
  p Aktualna temperatura: #{content[0]} &#8451;
  p Minimalna temperatura: #{content[1]} &#8451;
  p Maksymalna temperatura: #{content[2]} &#8451;
  p Czujnik Nr 2:
  p Aktualna temperatura: #{content[3]} &#8451;
  p Minimalna temperatura: #{content[4]} &#8451;
  p Maksymalna temperatura: #{content[5]} &#8451;
  p Przekaźniki:
  p Nr1: #{content[6]} Nr2:#{content[7]}
  p Nr3: #{content[8]} Nr4:#{content[9]}